html{
    background-color: #d1c3ac;
}
@font-face {
    font-family: "autography";
    src: local(autography) url(C:\Users\SMBT15-COORD2\Desktop\CODER\projeto_final\autography);
}
body main span h1{
    font-family: "autography";
    color: #595142;
    font-size: 400%;
    margin-top:-3cm;
    margin-left: 5cm;
    margin-bottom:0cm;
    margin-right:1cm;
    text-align: center;
}
body main span img{
    margin-top:25px;
    margin-left:0cm;
    margin-bottom:0cm;
    margin-right:0cm;
    max-width:180px;
    max-height:90px;
    width:180px;
    height:90px;
}
.imagem {
    width:36cm;
    margin-left:0%;
    height: 15cm;
    margin-right: 0cm;
}
header nav ul li{
    background-color: #a79c89;
    float:inline-start;
    margin: 5cm;
    margin-top:0%;
    padding:1%;
    margin-bottom: 0%;
    margin-right: 0cm;
 }
footer div h3{
    font-family: "autography";
    src: local(autography) url(C:\Users\SMBT15-COORD2\Desktop\CODER\projeto_final\autography);
    color: #595142;
    font-size:300%;
    margin-top: -12px;
    text-align: center;
}
footer div form{
    text-align: center;
}
footer{
    background-color: #baa785;
    padding:5%;
    margin:-1cm;
    margin-left: -1cm;
    margin-right: -1cm;
}
section h2{
    font-family: "autography";
    src: local(autography) url(C:\Users\SMBT15-COORD2\Desktop\CODER\projeto_final\autography);
    color: #595142;    
    font-size: 300%;
    text-align: center;
}
section h4{
    font-family: "autography";
    src: local(autography) url(C:\Users\SMBT15-COORD2\Desktop\CODER\projeto_final\autography);
    color: #595142;    
    font-size: 200%;
    text-align: center;
}
section p{
    text-align: justify;
}
    